!!! 5
%html
  %head
    %title= "⚡⚡ #{block('title')}"
    %link(rel="stylesheet" href="/assets/css/style.css?v=#{version}")
  %body(class="#{block('section')}")
    - if session_has('error')
      .error #{session_get('error')|nl2br}
    %header
      %h1
        %a(href="/")= "Jolt"
      %nav
        %ul
          - include('parts/nav.haml')
    .content #{block('content')}
    %footer
      %p
        &copy; 2014-2017 
        %a(href="https://srnd.org/")> StudentRND
    %script(src="https://use.typekit.net/lqy0tsq.js")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
